{{#link-to 'new_meetings' class="btn btn-success" }}Create Session{{/link-to}}
<div class="table-responsive">
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Performer name</th>
      <th>Performer country</th>
      <th>Customer name</th>
      <th>Duration</th>
      <th>Time</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
      
      {{#each model}}
      <tr>
       <td> {{performerName}} </td> 
       <td> {{performerCountry}} </td> 
       <td> {{customerName}} </td> 
        <td> {{duration}} </td> 
        <td> {{time}} </td> 
        <td> {{description}} </td> 
        
      <td><a href="/home/call">Go to session</a></td>
      </tr>
      {{/each}}
    
  
  </tbody>
</table>
</div>